/blog/blog/.env
/blog/db.sqlite3
**/migrations
/blog/media/
**/__pycache__
*.pyc

*.py[cod]
*$py.class

*.pot
*.log

# Environments
.env
.venv
.myvenv
env/
venv/
myvenv/
ENV/
env.bak/
venv.bak/

.idea/
